
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container .cards{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
    row-gap: 2em;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    background-color: white;
    background-size: cover;
    border-radius: 2em;
    z-index: 1;
    overflow: hidden;
}

.cards .card  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards  .content .photo{

    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 5px;
    background-color: #FF676D;
    margin-top: 4.5em;
}

.card .content .photo img {
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}

.content .name {
    margin-top: 1em;
    font-size: 16px;
    font-weight: 500;
}

.content .team {
    font-size: 15px;
    color: #FF676D;
}

.photo {
    width: 80%;
    height: auto;
    padding-top: 2.4em;
    padding-left: 2.4em;
    position:absolute;
    opacity: 1;
    transition-delay:.8s;


}

.photo img{
    width: 100%;
    border-radius: 100%;
    border: 0.5em solid;
    border-color: #e3e3e3;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #e3e3e3;
    transition: transform .5s.25s ease-in;
    z-index: -1;
}

.card::before {
    top: 0;
    clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card__content {
    opacity: 0;
    transition: opacity .25s;
}

.card__title {
    color: #FF676D;
    margin-bottom: 10PX;
    font-size: 18px;
}

.card__description {
    font-size: 14px;
}

.links {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

.socials {
    list-style: none;
      display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 3rem -0.1rem ;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #FF676D;
  }
  
  .socials a i {
    font-size: 1.1rem;
    transition: .4s ease;
  }
  
  .socials a:hover i{
    color: #151515;
  }

.card:hover::before, .card:hover::after {
    transform: translateY(0);
}

.card:hover .card__content {
    opacity: 1;
    transition-delay: .75s;
}
.card:hover .photo {
    opacity: 0;
    transition-delay: .5s;
}
